body {
    background: #f4f4f4;
    font-family: Arial;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 150px;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}
